.payment {
  &__date {
    width: 50%;
  }
  &__amount {
    width: 25%;
  }

  &__is-paid {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;

    &--paid {
      background-color: green;
    }
    &--unpaid {
      background-color: red;
    }
  }
}
