@use "@styles/colors" as *;
@use "@styles/mixins" as *;

.pupil {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__subtitle {
    text-transform: capitalize;
    font-size: 1.2rem;
  }
}
