.home {
  max-width: 1024px;
  margin: auto;

  &__header {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1rem;
  }

  &__main {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
}
