.home {
  max-width: 1024px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__logout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
  }

  &__header {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1.6rem;
  }
  npm &__main {
    display: flex;
    justify-content: space-evenly;
  }

  &__link {
    display: inline-block;
  }
}
