@use "@styles/colors" as *;
@use "@styles/mixins" as *;

.add-pupil-page {
  max-width: 1024px;
  margin: auto;
  display: flex;
  flex-direction: column;
  &__header {
    display: flex;
    align-items: center;
    margin: auto;
    padding: 0 1rem;
  }

  &__icon-box {
    margin-right: 2rem;
  }

  &__icon {
    width: 24px;
    height: 24px;
  }

  &__title {
    text-align: center;
    text-transform: capitalize;
  }
}
