@use "./colors" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  max-width: 768px;
  margin: 1.5rem auto;
  font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
  background-color: $background;
  color: $color;
}
